@font-face {
            font-family: Helvetica; /* Гарнитура шрифта */
            src: url(../fonts/HelveticaNeue.ttf);
} 

body {
    font-family: Helvetica;
}

.main-div {
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url('../img/background.png');
    background-size: cover;
}

.header {
    width: 100%;
    height: 37px;
    background: #085596;
}

.header ul {
    padding-left: 561px;
}

.header li {
    float: left;
} 

.header li a {
    display: block;
    color: #60b5ed;
    font-size: 14px;
    padding: 11px 16px 9px 20px;
}

.header li a:hover {
    background: #4eabda;
    color: #fff;
}

.name {
    display: inline-block;
    float: left;
    padding: 11px 5px 9px 5px;
    color: #60b5ed;
    font-size: 14px;
    border-left: 1px solid #60b5ed;
}

.name::before {
    width: 50px;
    height: 50px;
    background: url('../img/flag.png');
}

.name:hover {
    text-decoration: underline;
}

h1 {
    float:right;
    padding: 11px 16px 9px 20px;
    background: #4eabda;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
}

h1 a {
    color: #fff;
}

h1 a:hover {
    text-decoration: underline;
}

.header  img {
    float: left;
    position: relative;
    right: 10%;
    bottom: 2px;
    border-left: 1px solid #56a2dc;
}

form {
    width: 561px;
    margin: auto;
    background: rgba(0, 0, 0, .63);
}

form span {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 2px solid #b8c2aa;
    color: #e6e7e6;
    font-size: 24px;
    text-align: center;
}

.button-login {
    display: block;
    width: 276px;
    height: 35px;
    margin: 37px auto;
    border: 1px;
    border-radius: 5px;
    background-image: url('../img/button_log.png');
}

.button-login:hover {
    cursor: pointer;
}

.title {
    width: 276px;
    margin: 0 auto;
    color: #999;
    font: 14px Helvetica;
    overflow: hidden;
}

.title::before,
.title::after {
    display: inline-block;
    width: 230px;
    height: 1px;
    margin: -6px 4px 0;
    background: #666;
    content: '';
    vertical-align: middle;
}

.title::before {
    margin-left: -107px;
}

.title::after {
    margin-right: -120px;
}

.style-input {
    display: block;
    width: 240px;
    margin: 23px auto 23px;
    padding: 10px 18px;
    border: 0;
    border-bottom: 1px solid #494947;
    background: #0f0f0f;
    color: #fffcfc;
    font-size: 14px;
}

.style-input:hover {
    border-bottom: 1px solid #689bcc;
    background: linear-gradient(to top, #1d4973  0, #1b5288  50%, #1d4973  100%);
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666; ;
}

.checkbox {
    text-align: center;
    color: #c3c2c1;
    font-size: 14px;
}

.submit {
    display: block;
    margin: 21px auto 0;
    padding: 10px 22px 10px 12px;
    border: 0;
    border-radius: 2px;
    background: #4aa5d7;
    color: #fff;
    font-size: 14px;
}

.submit:hover {
    cursor: pointer;
}

.footer-form {
    margin-top: 19px;
    padding-bottom: 20px;
    color: #ccc;
    font-size: 11px;
    text-align: center;
}